<footer class="text-muted">
  <hr>

  <div class="container">

    <div>
      <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <!-- Facebook like button -->
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fumstek.github.io&width=50&layout=box_count&action=like&size=small&show_faces=false&share=true&height=65&appId" width="50" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

        <!-- Twitter follow button -->
        <a href="https://twitter.com/hexmint" class="twitter-follow-button" data-show-count="true">Follow @hexmint</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6">
        {% for network in site.data.social_links %}
        <div>
          <span {% if network.icon %}class="fa fa-{{ network.icon }}"{% endif %}></span>
          <a href="{{ network.link }}">{{ network.name }}</a>
        </div>
        {% endfor %}
      </div>

      <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <p class="small">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
