@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
    --theme-bg: 0deg 0% 98%;
    --theme-link: 172deg 18% 41%;
    --theme-text: 203deg 11% 15%;
    --theme-accent: 351deg 66% 48%;
    --theme-accent-2: 0deg 0% 7%;
    --theme-quote: 351deg 66% 48%;
  }

  :root.dark {
    color-scheme: dark;
    --theme-bg: 210deg 6% 12%;
    --theme-link: 330deg 49% 67%;
    --theme-text: 220deg 3% 79%;
    --theme-accent: 159deg 64% 45%;
    --theme-accent-2: 0deg 0% 93%;
    --theme-quote: 102deg 100% 86%;
  }

  html {
    @apply scroll-smooth;
  }

  html body {
    @apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-sans text-sm font-normal text-textColor antialiased;
  }
}

.alert {
  @apply my-2 rounded px-4 py-1;

  &.info {
    @apply bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-200;
  }

  &.warn {
    @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-200;
  }

  &.error {
    @apply bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-200;
  }

  &.success {
    @apply bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-200;
  }
}

.obsolete {
  @apply border-l-4 pl-4 opacity-20;
}

html.dark .shiki.github-light {
  display: none;
}

html:not(.dark) .shiki.github-dark {
  display: none;
}

.shiki {
  @apply overflow-x-auto;
}

.shiki .line {
  @apply w-fit;
}

.shiki .line.dim {
  @apply opacity-40;
}

.shiki .line.highlight {
  @apply bg-quote/10;
}
