<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    <!-- fontawesome transform -->
    <script src="https://use.fontawesome.com/313096582a.js"></script>

    <!-- Begin facebook script -->
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- End facebook script -->

    <!-- Begin filament script -->
    <script type="text/javascript" src="//filamentapp.s3.amazonaws.com/cbb87de6d26538202e53f6438fac0325.js"
    data-cfasync="false" async></script>
    <!-- End fillament script -->

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <!-- Begin bootstrap-related scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
    integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"
    integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous">
    </script>
    <!-- End bootstrap-selected scripts -->
  </body>

</html>
